
<Section>
    <header>
        <h1>Liste des Coachs</h1>
    </header>

    {{#each coaches}}
    <div class="design-mid">

        {{#if (eq status "coach")}}
            <td><a href="/coaches/details?user_id={{user_id}}">{{firstname}}</a></td>
            <br>
        {{/if}}
        </div>

    {{/each}}

</section>