
<Section>
    <header>
        <h1>Liste des Coachs</h1>
    </header>

<div class="design-mid">
    {{#each coaches}}
        {{#if (eq status "coach")}}
            <td><a href="/coaches/details?user_id={{user_id}}">{{firstname}}</a></td>
            <br>
        {{/if}}
    {{/each}}
</div>