
<Section>
    <header>
        <h1>Liste des Coachs</h1>
    </header>
    <div="enter-list-page"  >
        <div class="coach">
            <h2><a href="/coaches/bio">Pierre</a></h2>
            <p>Expérience: 15 ans</p>
            <p>Equipe : P4</p>
            <p>Email: pierre@VinciCourt.com</p>
        </div>
        <div class="coach">
            <h2><a href="/coaches/bio">Marie</a></h2>
            <p>Equipe : D3</p>
            <p>Email: marie@VinciCourt.com</p>
        </div>

   </div>
</Section>
