@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Karma', serif;
}


/* Layout */
.container-fluid {
  padding: 0 !important;
}

#navbar-layout{
  background: #E4EDD8;
}
.navbar ul li a {
  font-size: 24px;
  line-height: normal;
  color: #000;
}
.navbar ul li a:hover{
    color: #14a0e0;
    text-decoration: underline;
}

li.nav-item {
  margin: 0px 100px 0px 15px;
}

#navbarSupportedContent {
  margin-left: 1%;
  font-size: 15px;
  letter-spacing: 1px;
}




footer {
    display: flex;
    flex-direction: column;
}

footer #credits {
    text-align: center;
}



