/* Layout */
.container-fluid {
  padding: 0 !important;
}

#navbar-layout{
  background: #E4EDD8;
}
.navbar a {
  text-decoration: none;
  color: black;
}

li.nav-item {
  margin: 2px 100px 0px 15px;
}




footer {
    display: flex;
    flex-direction: column;
}

footer #credits {
    text-align: center;
}
