<main>
	<body class="form-v2">
		<div class="page-content">
			<div class="form-v2-content">
				<div class="form-left">
					<img src="/images/tennis-4790436_12802.jpg" alt="form">
					<div class="text-1">
						<p>Join us<span>on the court</span></p>
					</div>
					<div class="text-2">
						<p><span>You ready to play?</span></p>
					</div>
				</div>
				<form class="form-detail" action="#" method="post" id="myform">
					<h2>Connectez-vous</h2>
					<div class="form-row">
						<label for="your_email">Your Email:</label>
						<input type="text" name="your_email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
					</div>
					<div class="form-row">
						<label for="password">Password:</label>
						<input type="password" name="password" id="password" class="input-text" required>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register">
					</div>
				</form>
			</div>
		</div>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</main>